<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="/"><img src="../../../assets/spartan.png" alt="" width="100px" height="100px" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home"><h1>Sparta</h1></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/clases"><h2>Clases</h2></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contacto"><h2>Contacto</h2></a>
        </li>
      </ul>

      

      <ul class="navbar-nav mx-auto" *ngIf="user$ | async as user; else login">
        
        <li class="nav-item">
          <a class="nav-link"><h3>{{ user?.email }}</h3></a>
        </li>
        <li>
          <div *ngIf="isAdmin">
            <li class="nav-item"> 
              <a href="/admin" class="nav-link"><h2>Admin page</h2></a>
            </li>
          </div>
        </li>

        <li class="nav-item " *ngIf="user">
          <a href="#"class="nav-link" (click)= "onLogout()"> <h2>Logout</h2> </a>
        </li>

      </ul>
      <ng-template #login>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item" >
            <a class="nav-link" routerLink="/login">Login </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        </ul>
      </ng-template>
    </div>
  </nav>