<div class="spinner-border" role="status" *ngIf="this.bandera">
    <span class="sr-only">Loading...</span>
  </div>
<div class="card mt-5" *ngIf="user$ |async as user; else loading">
    <div class="card-body">
        <legend class="card-title text-center">Gracias por Registrarte!!!</legend>
        <div class="form-group">
            <p class="text-center mt-2">
                Hemos enviado un correo de verificación a tu <strong>{{user?.email}}</strong>
            </p>
            <p class="text-center">
                Por favor verificar y hacer click en el link de tu correo.
            </p>
            <div class="form-group text-center mt-5">
                <button class="btn btn-primary btn-block" (Click)="onSendEmail()"> Reenviar </button>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    Loading...
</ng-template>
